# モジュールの準備

In [1]:
import MySQLdb
import pandas as pd
from os import environ
from sqlalchemy import create_engine

# データ読み込み

In [2]:
pokemon = pd.read_csv("pokemon_picturebook.csv", encoding="cp932", header=0, index_col=0)
display(pokemon.head(3))

,名前,別名,高さ,重さ,タイプ1,タイプ2,H,A,B,C,...,S,合計値,タマゴ1,タマゴ2,分類,特性1,特性2,夢特性,世代,フォルム
図鑑番号,,,,,,,,,,,,,,,,,,,,,
No.001,フシギダネ,たねポケモン,0.7m,6.9kg,くさ,どく,45,49,49,65,...,45,318,怪獣,植物,一般,しんりょく,-,ようりょくそ,1,-
No.002,フシギソウ,たねポケモン,1.0m,13.0kg,くさ,どく,60,62,63,80,...,60,405,怪獣,植物,一般,しんりょく,-,ようりょくそ,1,-
No.003,フシギバナ,たねポケモン,2.0m,100.0kg,くさ,どく,80,82,83,100,...,80,525,怪獣,植物,一般,しんりょく,-,ようりょくそ,1,通常

In [17]:
pk_status =pokemon.loc[:, ["フォルム", "合計値", "H", "A", "B", "C", "D", "S"]].reset_index()
pk_nomal_data = pokemon.loc[:, ["名前", "フォルム", "別名", "世代", "分類", "高さ", "重さ", "タマゴ1", "タマゴ2"]].reset_index()
pk_fight_data =pokemon.loc[:, ["フォルム", "タイプ1", "タイプ2", "特性1", "特性2", "夢特性"]].reset_index()

In [18]:
display(pk_nomal_data.head(3))
display(pk_fight_data.head(3))
display(pk_status.head(3))

     図鑑番号     名前 フォルム      別名  世代  分類    高さ       重さ タマゴ1 タマゴ2
0  No.001  フシギダネ    -  たねポケモン   1  一般  0.7m    6.9kg   怪獣   植物
1  No.002  フシギソウ    -  たねポケモン   1  一般  1.0m   13.0kg   怪獣   植物
2  No.003  フシギバナ   通常  たねポケモン   1  一般  2.0m  100.0kg   怪獣   植物

     図鑑番号 フォルム タイプ1 タイプ2    特性1 特性2     夢特性
0  No.001    -   くさ   どく  しんりょく   -  ようりょくそ
1  No.002    -   くさ   どく  しんりょく   -  ようりょくそ
2  No.003   通常   くさ   どく  しんりょく   -  ようりょくそ

     図鑑番号 フォルム  合計値   H   A   B    C    D   S
0  No.001    -  318  45  49  49   65   65  45
1  No.002    -  405  60  62  63   80   80  60
2  No.003   通常  525  80  82  83  100  100  80

## SQLへの接続設定

In [13]:
engine = create_engine('mysql://{name}:{password}@localhost/Pokemon?charset=cp932'.format(name="navy", password=environ.get("SQL_NAVY_PASS")))

In [14]:
conn = MySQLdb.connect(
    host = "localhost",
    user = "navy",
    passwd = environ.get("SQL_NAVY_PASS"),
    db = "Pokemon")

cursor = conn.cursor()

# データベースの操作

## 1. Pandas -> SQL

In [15]:
pk_status.to_sql("pk_status", con=engine, if_exists="append", index=False)

In [16]:
pk_nomal_data.to_sql("pk_nomal", con=engine, if_exists="append", index=False)
pk_fight_data.to_sql("pk_fight", con=engine, if_exists="append", index=False)

## 2. SQL -> Pandas

In [26]:
sql = """
Select pk_nomal.図鑑番号, pk_nomal.名前, pk_fight.タイプ1, pk_fight.タイプ2, pk_status.*
From pk_status left outer join pk_nomal
on pk_status.図鑑番号 = pk_nomal.図鑑番号 and pk_status.フォルム = pk_nomal.フォルム
left outer join pk_fight
on pk_status.図鑑番号 = pk_fight.図鑑番号 and pk_status.フォルム = pk_fight.フォルム
where pk_status.合計値 = 600
and pk_nomal.分類 = '一般'
and (pk_status.フォルム = "通常" or pk_status.フォルム = "-");
"""

cursor.execute(sql)

9

In [27]:
df_pk_sql = pd.read_sql(sql, conn)
display(df_pk_sql)

     図鑑番号      名前  タイプ1  タイプ2    図鑑番号 フォルム  合計値    H    A    B    C    D    S
0  No.149   カイリュー  ドラゴン   ひこう  No.149    -  600   91  134   95  100  100   80
1  No.248   バンギラス    いわ    あく  No.248   通常  600  100  134  110   95  100   61
2  No.373   ボーマンダ  ドラゴン   ひこう  No.373   通常  600   95  135   80  110   80  100
3  No.376   メタグロス   はがね  エスパー  No.376   通常  600   80  135  130   95   90   70
4  No.445   ガブリアス  ドラゴン   じめん  No.445   通常  600  108  130   95   80   85  102
5  No.635   サザンドラ    あく  ドラゴン  No.635    -  600   92  105   90  125   90   98
6  No.706   ヌメルゴン  ドラゴン     -  No.706    -  600   90  100   70  110  150   80
7  No.784  ジャラランガ  ドラゴン  かくとう  No.784    -  600   75  110  125  100  105   85
8  No.887   ドラパルト  ドラゴン  ゴースト  No.887    -  600   88  120   75  100   75  142

In [12]:
conn.commit()

In [13]:
conn.close()